.left-arrow{
    font-size: 2em;
    margin-top: 0.2em;
    margin-left: 0.3em;
    background-color: #f1faee;
    padding: 0.1em 0.1em 0.1em 0.5em;
    border-radius: 50%;
    cursor: pointer;
    color: #84a59d;
}