$color: #001219;

.left-arrow {
  font-size: 2em;
  margin-top: 0.5em;
  margin-left: 0.3em;
  padding: 0.1em 0.1em 0.1em 0.5em;
  border-radius: 50%;
  cursor: pointer;
  color: $color;
}
