@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
$font: "Roboto Mono", monospace;
$font_color: #f1faee;
$background_color: #001219;
$btn_font: "Dancing Script", cursive;
$border_color: #264653;

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: $background_color;

  padding: 3em 1em 3em 1em;
  font-family: $font;

  .link-list {
    display: flex;
  }
  .link-list-item {
    padding-right: 2em;
    list-style: none;
    .link-list-item-link {
      text-decoration: none;
      font-size: 1em;
      color: $font_color;
      font-weight: bolder;
      transition: text-decoration 0.3s;
    }
    .link-list-item-link:hover {
      text-decoration: underline;
    }
  }
  form {
    .form-heading {
      color: $font_color;
      margin-bottom: 5px;
    }
    input {
      padding: 1em 4em 1em 1em;
      font-size: 0.9em;
      background: $background_color; /* fallback for old browsers */
      /* Chrome 10-25, Safari 5.1-6 */
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: $font_color;
      border: 2px solid $border_color;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s;
    }
    input:focus {
      outline: none;
      -webkit-box-shadow: -1px 1px 21px -3px rgba(255, 255, 255, 1);
      -moz-box-shadow: -1px 1px 21px -3px rgba(255, 255, 255, 1);
      box-shadow: -1px 1px 21px -3px rgba(255, 255, 255, 1);
    }
    ::placeholder {
      color: $font_color;
    }
    .btn {
      margin-left: 1em;
      padding: 0.5em 3.1em 0.5em 3em;
      border-radius: 8px;
      font-weight: bolder;
      font-family: $btn_font;
      font-size: larger;
      color: $font_color;
      background-color: #f34a23;
      border: 2px solid #f34a23;
      cursor: pointer;
      transition: all 0.3s;
    }
    .btn:hover {
      background-color: white;
      color: $background_color;
      border-color: $border_color;
      -webkit-box-shadow: 0px 29px 45px -17px rgba(241, 250, 238, 1);
      -moz-box-shadow: 0px 29px 45px -17px rgba(241, 250, 238, 1);
      box-shadow: 0px 29px 45px -17px rgba(241, 250, 238, 1);
    }
  }
}
