$_color: #f1faee;

.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  cursor: pointer;
  .burger {
    width: 2rem;
    margin-bottom: 0.3em;
    height: 0.25rem;
    border-radius: 10px;
    background-color: $_color;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }
}

.hamburger {
  display: none;
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
  }
}
