@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

$font: 'Croissant One', cursive;
$color1: #f34a23;
$color2: #fb5607;
$color3: #191919;

header{
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
    backdrop-filter: blur(10px);
    
    .typing{
        color: white;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $color2;
        cursor: pointer;
        transition: all 0.5s;
    }
    .typing:hover{
        -webkit-text-fill-color: $color3;
        -webkit-text-stroke-color:$color3;
    }
    .main-gif{
        margin-right: 5em;
        border-radius: 30px;
        cursor: pointer;
    }

}