@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono&display=swap");

$font: "Croissant One", cursive;
$color1: #f34a23;
$color2: #fb5607;
$color3: #191919;
$font1: "Roboto Mono", monospace;
$font_color: #f1faee;
$background_color: #001219;

header {
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
  backdrop-filter: blur(10px);

  .typing {
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $color3;
    -webkit-text-fill-color: $color3;
    cursor: pointer;
    transition: all 0.5s;
  }
  .main-gif {
    margin-right: 5em;
    border-radius: 30px;
    cursor: pointer;
  }
}

.about-section {
  font-family: $font1;
  background-color: $background_color;
  display: flex;
  flex-direction: column;
  color: $font_color;
  margin-top: 10em;
  padding: 10em 1em 10em 1em;
  p {
    color: #cccccc;
  }
  .contain-others {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;

    div {
      width: 30%;
      text-align: center;
      border-radius: 40px;
      margin-right: 3.5em;
      margin-bottom: 3em;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      background-color: #17282e;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      padding: 2em 3em 2em 3em;
      cursor: pointer;
      img {
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: all 0.3s;
        width: 100%;
      }
      img:hover {
        transform: scale(1.2);
      }
    }
  }

  .container,
  .second-container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    display: block;
    img {
      width: 100%;
      height: 500px;
      border-radius: 20px;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}

.lower-section {
  text-align: center;
  margin: 15em auto 15em auto;
  width: 40%;

  .lower-heading {
    font-size: 3em;
    color: #bde0fe;
  }
  .lower-para {
    line-height: 40px;
  }
  .rainbow-text {
    background: #ca4246;
    background-color: #ca4246;
    background: conic-gradient(
      #ca4246 16.666%,
      #e16541 16.666%,
      #e16541 33.333%,
      #f18f43 33.333%,
      #f18f43 50%,
      #8b9862 50%,
      #8b9862 66.666%,
      #476098 66.666%,
      #476098 83.333%,
      #a7489b 83.333%
    );
    background-size: 57%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-animation-rev 0.5s ease forwards;
    cursor: pointer;
  }
  .rainbow-text:hover {
    animation: rainbow-text-animation 0.5s ease forwards;
  }
  @keyframes rainbow-text-animation {
    0% {
      background-size: 57%;
      background-position: 0 0;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 300%;
      background-position: -9em 1em;
    }
  }
}
