@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono&display=swap");

$font: "Croissant One", cursive;
$color1: #f34a23;
$color2: #fb5607;
$color3: #191919;
$font1: "Roboto Mono", monospace;
$font_color: #f1faee;
$background_color: #001219;

header {
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
  backdrop-filter: blur(10px);

  .typing {
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $color3;
    -webkit-text-fill-color: $color3;
    cursor: pointer;
    transition: all 0.5s;
  }
  .main-gif {
    margin-right: 5em;
    border-radius: 30px;
    cursor: pointer;
  }
}
.about-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 23%;
    margin-bottom: 3em;
    margin-top: 10em;
    cursor: pointer;
    p {
      text-align: center;
      margin-left: 10%;
      width: 40%;
      line-height: 30px;
      font-weight: bolder;
    }
    p::selection {
      color: #c1121f;
    }
    img {
      width: 60%;
      border-radius: 30px;
    }
  }
}

.lower-section {
  text-align: center;
  margin: 15em auto 15em auto;
  width: 40%;

  .lower-heading {
    font-size: 3em;
    color: #bde0fe;
  }
  .lower-heading::selection {
    color: #c1121f;
  }
  .lower-para {
    line-height: 40px;
  }
  .lower-para::selection {
    color: #c1121f;
  }
  .rainbow-text {
    background: #ca4246;
    background-color: #ca4246;
    background: conic-gradient(
      #ca4246 16.666%,
      #e16541 16.666%,
      #e16541 33.333%,
      #f18f43 33.333%,
      #f18f43 50%,
      #8b9862 50%,
      #8b9862 66.666%,
      #476098 66.666%,
      #476098 83.333%,
      #a7489b 83.333%
    );
    background-size: 57%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-animation-rev 0.5s ease forwards;
    cursor: pointer;
  }
  .rainbow-text:hover {
    animation: rainbow-text-animation 0.5s ease forwards;
  }
  @keyframes rainbow-text-animation {
    0% {
      background-size: 57%;
      background-position: 0 0;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 300%;
      background-position: -9em 1em;
    }
  }
}
