@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
$font: "Roboto Mono", monospace;
$font_color: #f1faee;
$background_color: #001219;
$hover_color: #ca4246;
$border_color: #264653;
$btn_font: "Dancing Script", cursive;

.navbar {
  display: flex;
  align-items: center;
  color: $font_color;
  background-color: $background_color;
  justify-content: space-evenly;
  padding: 1em 0.1em 1em 0.1em;
  .rainbow-text {
    background: #ca4246;
    background-color: #ca4246;
    background: conic-gradient(
      #ca4246 16.666%,
      #e16541 16.666%,
      #e16541 33.333%,
      #f18f43 33.333%,
      #f18f43 50%,
      #8b9862 50%,
      #8b9862 66.666%,
      #476098 66.666%,
      #476098 83.333%,
      #a7489b 83.333%
    );
    background-size: 57%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-animation-rev 0.5s ease forwards;
    cursor: pointer;
  }
  .rainbow-text:hover {
    animation: rainbow-text-animation 0.5s ease forwards;
  }

  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-animation {
    0% {
      background-size: 57%;
      background-position: 0 0;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 300%;
      background-position: -9em 1em;
    }
  }
  .nav {
    display: flex;
  }
  .nav-item {
    list-style: none;
    margin-right: 2em;
    .nav-link {
      text-decoration: none;
      color: $font_color;
      font-size: 1.5rem;
      transition: all 0.3s;
      padding-bottom: 0.5em;
    }
    .nav-link:hover {
      color: $hover_color;
    }
  }
  .btn {
    font-size: 1.5em;
    text-decoration: none;
    border: 1px solid $border_color;
    padding: 0.4em 2em 0.4em 2em;
    border-radius: 10px;
    color: $font_color;
    transition: all 0.3s;
    font-family: $btn_font;
  }
  .btn:hover {
    background-color: #f34a23;
    color: white;
    -webkit-box-shadow: 0px 29px 45px -17px rgba(241, 250, 238, 1);
    -moz-box-shadow: 0px 29px 45px -17px rgba(241, 250, 238, 1);
    box-shadow: 0px 29px 45px -17px rgba(241, 250, 238, 1);
  }
}
