@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono&display=swap');
$font:'Roboto Mono', monospace;
$fontColor: #f34a23;

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding-right: 15em;
    padding-left: 13em;
    border-bottom: 1px solid $fontColor;
    
    .logo-img{
        width: 20%;
        height: 120px;
        cursor: pointer;
    }
    .nav{
        display: flex;
    }

    .nav-item{
        list-style: none;
        padding-right: 2em;
    }
    .nav-item:nth-of-type(4){
        padding-right: 0;
    }
    .nav-link{
        font-family: $font;
        font-size: 25px;
        text-decoration: none;
        color: $fontColor;
        position: relative;
    }
.nav-link:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: -5px;
        left: 0;
        background-color: $fontColor;
        transform-origin: bottom right;
        box-shadow: 0px 5px 5px $fontColor;
        transition: transform 0.25s ease-out;
      }
      .nav-link::before {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 30px;
        left: 0;
        background-color: $fontColor;
        transform-origin: bottom right;
        box-shadow: 0px 5px 5px $fontColor;
        transition: transform 0.25s ease-out;
      }
      
      .nav-link:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }    
    .nav-link:hover::before {
        transform: scaleX(1);
        transform-origin: bottom right;
    } 
}