@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
$font: "Roboto Mono", monospace;
$font_color: #f1faee;
$background_color: #001219;
$border_color: #264653;
$btn_font: "Dancing Script", cursive;